/*BACKGROUNDS*/

body{
    background-image: url(cat.jpg);
    background-repeat: no-repeat; /*repeat x, repeat y*/
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed; /*Deja la imagen statica en el fondo al hace scroll*/
    background-size: contain; /*background-size: 30% 30%; */
    background: linear-gradient(to bottom, green, yellow, red, blue)
} 

.space{
    height: 300px;
}