/*BORDES*/

h1{
    border: double yellowgreen 10px; /*solid dotted inset*/
    border-top-style: dashed;
    border-top-color: turquoise;
    border-bottom: dotted blue 10px;
}

p{
    border: double yellowgreen 10px;
    border-radius: 15px;
}