.container{
    display: grid;
    height: 600px;
    width: 500px;
    background-color: blue;
    /*Definir columnas y filas explicitamente*/
    /*grid-template-columns: 200px 300px;*/
    /*grid-template-rows: 100px 200px;*/

    /*Asigna tamañao a las filas agregadas de forma implicita*/
    /*grid-auto-rows: 100px;*/

    /*Shorthand para agregar filas / columnas*/
    grid-template: [start-row] repeat(3, 100px) [end-row] / [inicial-col] 300px [medium-header] 50px [medium-footer] 70px [final-col] 80px;
}

/*Posicionar elementos en el grid*/
.red{
    background-color: red;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 1;
}

/*Los numeros identifican a las lineas de la grilla, por lo que no representan los espacios*/
.yellow{
    background-color: yellow;
    /*shorthand : start / end*/
    grid-column: 1 / 5; 
    grid-row: start-row / end-row;
}

.green{
    grid-column: inicial-col / final-col;
    z-index: 1;
    background-color: green;
}