.container{
    display: grid;
    height: 600px;
    width: 500px;
    background-color: blue;
    /*Definir columnas y filas explicitamente*/
    /*grid-template-columns: 200px 300px;*/
    /*grid-template-rows: 100px 200px;*/

    /*Asigna tamañao a las filas agregadas de forma implicita*/
    /*grid-auto-rows: 100px;*/

    /*Shorthand para agregar filas / columnas*/
    /*fr es una unidad de medida por fraccion, que divide el espacio siguiendo la regla de las fracciones*/
    grid-template: [start-row] repeat(3, 1fr) [end-row] / [inicial-col] 3fr [medium-header] 1fr [medium-footer] 1fr [final-col] 1fr;
    grid-template-areas: "head head head head"
                    "body body body body"
                "footer footer footer footer";
    
    align-items: center;
    justify-items: center;
    
}

/*Posicionar elementos en el grid*/
.red{
    background-color: red;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 1;
    align-self: stretch;
    justify-self: stretch;
}

/*Los numeros identifican a las lineas de la grilla, por lo que no representan los espacios*/
.yellow{
    background-color: yellow;
    /*shorthand : start / end*/
    grid-column: 1 / 2; 
    grid-row: start-row / end-row;
    align-self: stretch;
    justify-self: stretch;
}

.green{
    grid-column: inicial-col / final-col;
    z-index: 1;
    background-color: green;
    align-self: stretch;
    justify-self: stretch;
}

.violet{
    background-color: violet;
    /*row-start column start row-end column end*/
    grid-area: 3 / 2 / 3 / 5;
    align-self: stretch;
    justify-self: stretch;
}

.turquese{
    background-color: turquoise;
    grid-area: head;
    z-index: 10;
    height: 30px;
    width: 100px;


    /*
    margin-left: auto;
    margin-right: auto;
    */
}

