/*Efecto paralax*/

.ejercicios{
    position: relative;
    background: url('../cat.jpg') 0/ cover fixed;
    width: 100%;
    height: 500px;
}

.espacios{
    height: 200px;
}

.content{
    position: absolute;
    border-radius: 10px;
    background-color: hsla(120, 10%, 100%, .6);
    box-shadow: 10px 10px 10px rgba(0,0,0,.8);
    filter: blur(2px);
    top: 15%; bottom: 15%; left: 10%; right: 10%;
}

.text{
    top: 40%; bottom: 40%; left: 40%; right: 40%;
    position: absolute;
}

/*Galeria responsiva*/
@media screen and (max-width: 400px){/*iphone 4*/
    div.polaroid{
        margin: 5px 0 25px 0;
        height: 250px;
        overflow: hidden;
    }
    img{
        width: 100%;
    }
    .texto{
        position: absolute;
        bottom:5px;
        text-align: center;
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 760px){ /*Tablets*/
    div.polaroid{
        margin: 5px 0 25px 0;
    }
    img{
        width: 100%;
    }
}

@media screen and (min-width: 761px){
    div.polaroid{
        display: inline-block;
        margin-left: 6%;
    }
}

/*Imagenes modal*/

.modal{
    /*display: none;*/
    position: fixed;
    padding-top: 120px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.8);
}

.modal-content{
    top: 0;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    height: 400px;
    width: 400px;
    animation: zoom .5s;
}

.cerrar{
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background-color: tomato;
    padding: 0px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
}

@keyframes zoom{
    from{transform: scale(0);}
    to{transform: scale(1);}
}