.ejercicios{
    position: relative;
    background: url('../cat.jpg') 0/ cover fixed;
    width: 100%;
    height: 500px;
}

.espacios{
    height: 200px;
}

.content{
    position: absolute;
    border-radius: 10px;
    background-color: hsla(120, 10%, 100%, .6);
    box-shadow: 10px 10px 10px rgba(0,0,0,.8);
    filter: blur(2px);
    top: 15%; bottom: 15%; left: 10%; right: 10%;
}

.text{
    top: 40%; bottom: 40%; left: 40%; right: 40%;
    position: absolute;
}