.image{
    border-radius: 50%;
}
/*Las imagenes en png no se pueden redondear directamente ya que estas no 
son imagenes uniformes, lo correcto seria agregarle un borde */

.thumb{
    margin: 10px;
    border: 5px solid #ddd;
    width: 150px;
}

/*Cuando se posiciona el cursor sobre el elemento se aplican los estilos*/
.thumb:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.8);
    width: 160px;
}

.responsive{
    height: auto;
    max-width: 100%;
}

div.polaroid{
    position: relative;
    background-color: white;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    display: inline-block;
}

.imgtext{
    position: absolute;
}
body{
    background-color: seagreen;
}

.texto{
    text-align: center;
}

.polaroid img{
    /*opacity: .4;*/
    /*filter: blur(2px);*/
    /*filter: contrast*/
    /*filter: grayscale*/
    /*filter: hue-rotate*/
    /*filter: sepia*/
    filter: brightness(.2);
    
}

.polaroid img:hover{
    /*opacity: 1;*/
    /*filter: blur(0px);*/
    filter: brightness(1);
}

.imgtext{
    position: absolute;
    top: 8px;
    left: 30px;
    font-size: 18px;
}