h1,p{
    color:blueviolet;
    text-align: center;
}

#titulo{
    color: aqua;
    text-align: start;
}

.titulo{
    color: brown;
    text-align: end;
}

span p, span h2{
    color: darkred;
    font-size: 20px;
}

.ejemplo{
    background-color: gold;
}

h2.ejemplo{
    background-color: deeppink;
    color: white;
    height: 40px;
}

#colores > ul > li{
    background-color: black;
    color: white;
    font-size: 2em;
}

#orange{
    color: orange;
}

#green{
    color: green !important;
}

#red{
    color: red;
}

/*Selector por atributo*/
a[href="codigofacilito.com"]{
    color:orchid;
}

a[class="ejemplo"]{
    color:palegreen;
}