/*Selectores de clase*/

.ejemplo{
    background-color: rgb(255,0,0);
}

.titulo{
    color: brown;
    text-align: end;
}

/*Selectores de id*/
#titulo{
    color: aqua;
    text-align: start;
}

#colores > ul > li{
    background-color: #ff9090;
    color: white;
    font-size: 2em;
}

#orange{
    color: orange;
}

#green{
    color: green !important;
}

#red{
    color: red;
}

/*Selectores de etiqueta*/
h1,p{
    color:blueviolet;
    text-align: center;
}

span p, span h2{
    color: darkred;
    font-size: 20px;
}



h2.ejemplo{
    background-color: deeppink;
    color: white;
    height: 40px;
}


/*Selector por atributo*/
a[href="codigofacilito.com"]{
    color:orchid;
}

/*Esta linea afecta a todas las etiquetas con la clase ejemplo*/
a[class="ejemplo"]{
    color:palegreen;
}

body{
    background-image: url(cat.jpg);
    background-repeat: no-repeat; /*repeat x, repeat y*/
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed; /*Deja la imagen statica en el fondo al hace scroll*/
    background-size: contain; /*background-size: 30% 30%; */
} 

.space{
    height: 300px;
}