h1,p{
    color:blueviolet;
    text-align: center;
}

#titulo{
    color: aqua;
    text-align: start;
}

.titulo{
    color: brown;
    text-align: end;
}

span p, span h2{
    color: darkred;
    font-size: 20px;
}